<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rock Paper Scissor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/vsPlayer.css">
</head>
<body>
 <div class="container-fluid header d-flex">
    <div class="back-container ms-3 me-2">
        <a href="/" class="back">&lt</a>
      </div>
      <div class="logo-container">
        <img class="ms-4 me-2 logo" src="/images/logo_title.png"/>
      </div>
      <div class="title-container">
        <h1 class="title ms-3">ROCK PAPER SCISSORS</h1>
      </div>
    </div>
    
    <div class="container">
        <div class="row">
          <div class="col-sm playCom">
            Player 1
            <div><img id="Rock" onclick="Play('Rock')" src="/images/batu.png" class="img-container"></div>
            <div><img id="Paper" onclick="Play('Paper')" src="/images/kertas.png" class="img-container"></div>
            <div><img id="Scissor" onclick="Play('Scissor')" src="/images/gunting.png" class="img-container"></div>
          </div>
          <div class="col-sm">
            <div class="vs">VS</div>
            <div><a href="/rock-paper-scissor"><img src="/images/refresh.png" class="refresh" height="71" width="77" alt=""></a></div>
          </div>
          <div class="col-sm playCom">
            COM
            <div><img id="Rock-com" src="/images/batu.png" class="img-container com-image"></div>
            <div><img id="Paper-com" src="/images/kertas.png" class="img-container com-image"></div>
            <div><img id="Scissor-com" src="/images/gunting.png" class="img-container com-image"></div>
          </div>
        </div>
      </div>

    <script>
      const roomId = '<%= roomId %>';
    </script>
     <script src="/js/chapter4.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>
